.git
.gitignore
.vscode
.idea

node_modules
vendor

.env
.env.*

/public/build
/public/hot

/storage/logs/*
/storage/framework/cache/*
/storage/framework/sessions/*
/storage/framework/views/*
/storage/app/public/*

/tests
/.phpunit.cache
/.phpunit.result.cache

npm-debug.log
yarn-error.log
